.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.btn-flat{
     text-align: center;
     display: flex;
     flex-direction: column;
     margin-left: 35%;
     margin-right: 35%;
 }
.btn-flat:hover{
    background-color: rgba(0,0,0,0.1);
}